* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #333;
	font-size: 24px;
}

.projects {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.projects .container {
	display: inline-block;
	width: 400px;
	height: 300px;
	padding: 10px 20px;
	margin: 10px;
	border-radius: 15px;
	text-align: center;
	background-color: hsl(0, 0%, 35%);
}

.projects .container h2 {
	text-transform: uppercase;
}

.projects .container img {
	width: 160px;
	height: 140px;
	padding: 10px 15px;
	border-radius: 15px;
}

.projects .container button {
	margin-top: 10px;
	height: 30px;
	width: 80%;
	border: none;
	background-color: hsl(130, 65%, 38%);
	text-align: center;
}

.projects .container button a {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2rem;
	text-decoration: none;
}

@media only screen and (max-width: 768px) {
	.projects {
		display: flex;
		flex-direction: column;
	}
}
