@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Manrope", sans-serif;
	background-color: hsl(218, 23%, 16%);
	color: hsl(193, 38%, 86%);
}

main {
	display: flex;
	justify-content: center;
	margin: 20vh;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 500px;
	height: 270px;
	background-color: hsl(217, 19%, 24%);
	z-index: 2;
	border-radius: 15px;
}

.container h4 {
	color: hsl(150, 100%, 66%);
	margin-top: 1rem;
}

.advice {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	text-align: center;
	font-size: 1.75rem;
	min-height: 120px;
	padding: 0 15px;
}

.container img {
	margin-top: 2rem;
}

.dice-img {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 440px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	width: 50px;
	height: 50px;
	background-color: hsl(150, 100%, 66%);
	border-radius: 50%;
	border: none;
}
