:root {
	--white: hsl(0, 0%, 100%);
	--LightGrey: hsl(217, 12%, 63%);
	--MediumGrey: hsl(216, 12%, 54%);
	--DarkBlue: hsl(213, 19%, 18%);
	--VeryDarkBlue: hsl(216, 12%, 8%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 15px;
	background-color: var(--VeryDarkBlue);
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	margin-top: 20svh;
	height: 50svh;
	width: 50svw;
	border-radius: 20px;
	background-color: var(--DarkBlue);
}
